body {
  margin: 0;
  background: #000;
  color: #7cff7c; /* daha az neon, yumuşak yeşil */
  font-family: 'VT323', monospace;
  font-size: 28px;
}

#terminal {
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

#output {
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.login {
  margin-top: 10px;
}

.input-line {
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #7cff7c;
  font-family: 'VT323', monospace;
  font-size: 28px;
  width: 200px;
}
